* {
	/*FONT STYLE*/
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}


#navBarBG {
	background-color: #89876b;
}


.fa-icons {
	font-size: 5rem;
}

#messageForm {
	background-color: #a7ab9c;
	padding-top: 5px;
	padding-bottom: 7px;
}

.btn {
	background-color: #49302a;
	color: whitesmoke;
}

#mapSection {
	background-color: #2a3027;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#gmap_contact {
	height: 60vh;
	width: 100%;
	margin: 4px;
}